header {
    background: url(../img/header.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    padding: 1% 0 1% 15%;
}

.box img {
    width: 30%;
    height: 30%;
  }