header {
    background: url(../img/header.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    padding: 1% 0 1% 15%;
    position: relative;
    display:inline;
}

.box img {
    width: 30%;
    height: 30%;
  }

nav {
    position:relative;
    text-align: right;
    padding-right: 5%;
    padding-bottom: 1%;
}

nav li{
    display: inline;
    margin: 0 0 1% 1%;
    text-shadow: 2px 2px 5px #87d1e4,-2px 2px 5px #87d1e4,2px -2px 5px #87d1e4,-2px -2px 5px #87d1e4;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 1.3vW;
    text-decoration: none;
}

nav a:hover{
    color: #5b38d8;
    text-decoration: underline;
}