body {
    background: linear-gradient(#b8faff,#42abb3, #0fa1ac);
    width: 100%;
}
main {
    height: 2000px;
    margin: 15px 0;
}

#quienes-somos {
    height: 20%;
    margin: 1% 0;
}

.quienes-somos {
    height: 99%;
    display: flex;
}

.quienes-somos p {
    padding: 5% 3%;
    text-align: justify;
    font-size: x-large;
    

}

.quienes-somos img {
    width: 40%;
    padding: 3%;
}

#que-hacemos {
    border: rgb(196, 69, 69) solid;
    height: 20%;
    margin-bottom: 1%; 
}

#sobre-nosotro {
    border: rgb(196, 69, 69) solid;
    height: 57.4%;
 
}

.Braulio {
    border: rgb(69, 196, 196) solid;
    height: 23.5%;
    margin: 1%; 
}

.Anioska{
    border: rgb(69, 196, 196) solid;
    height: 23.5%;
    margin: 0% 1% 1% 1%; 
}

.Dayana {
    border: rgb(69, 196, 196) solid;
    height: 23.5%;
    margin: 0% 1% 1% 1%; 
}

.Luis {
    border: rgb(69, 196, 196) solid;
    height: 23.4%;
    margin: 0% 1%;
}