body {
    background: linear-gradient(#b8faff,#42abb3, #0fa1ac);
    width: 100%;
}
main {
    padding: 0 4%;
}
.quienes-somos {
    display: flex;
}
.texto {
    padding: 7% 0;
}
h1{
    text-align: center;
    font-size: 4.5vw;
    font-style: italic;
    margin-top: 5%;
}

p {
    padding: 5% 5%;
    text-align: justify;
    font-size: x-large;
    margin-top: 2%;
}

.imagenes{
    width: 50%;
}

.que-hacemos {
    display: flex;
}

h2{
    text-align: center;
    font-size: 3.5vw;
    font-style: italic;
}

h3{
    text-align: justify;
    font-size: 2.5vw;
    font-style: italic;
    margin: 5% 0 0 5%;
}
.Mujer {
    width: 30%;
}

.hombre {
    width: 20%;
}

.sobre-nosotro article {
    height: 23.5%;
    display: flex;
}

.titulo-artile {
    text-align: end;
    margin-right: 5%;
}